<div class="home-page">
  <div class="home-panel">
    <div class="information">
      <h1>Planning Poker</h1>
      <p>
        This is a demonstration of the Azure Web PubSub Service with planning
        poker. Please choose whether your want to create a session, or join a
        previously created session.
      </p>
      <div class="actions">
        <button mat-flat-button color="primary" (click)="createSession()">
          Create session
        </button>
        <button mat-flat-button color="primary" (click)="joinSession()">
          Join session
        </button>
      </div>
    </div>
  </div>
</div>
